DB1=mysql://root:root@123456@localhost:9433/testdb?label=aiops-mysql
DB2=clickhouse://default:ClickHouse@2026!@localhost:9421?label=aiops-clickhouse
DB3=sqlite:///home/wwt/Downloads/aigc/proj/agents/aiops/intent-apparatus/data/rules.db?label=aiops-sqlite
DB4=qdrant://:Qdrant@2026!@localhost:9426?label=qdrant-test
DB5=elasticsearch://elastic:Es@Pass2026!@localhost:9422?label=es-test
DB6=postgres://videomon_user:VideoMon@2026!Secure@localhost:5432/videomon?label=video-pg
DB7=redis://default:Pwd1Open2%23IMD@localhost:6389/0?label=openim-redis
DB8=redis://:Redis@2026!Secure@localhost:6379/0?label=video-redis

# MONGO现在必须指定库名，工具已强制要求
DB9=mongodb://openIM:Pwd1Open2%23IMD@192.168.0.127:27017/openim_v3?authSource=openim_v3&directConnection=true&label=mongo-test
